body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.active-page .nav-item-gestao-usuarios .nav-link {
    background-color: #0F6CBF;
    color: #ffffff;
}

.container-fluid {
    padding: 20px;
    width: 100%;
}

.main-content {
    background-color: #ffffff;
    border: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Alinha o conteúdo ao início verticalmente */
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

/* Estilo para os inputs */
.form-control,
.form-select {
    width: 80%;
    margin-bottom: 10px;
    /* Define a margem inferior para separar os inputs */
    padding: 8px;
    /* Adiciona um preenchimento interno aos inputs */
    box-sizing: border-box;
    /* Garante que o preenchimento e a borda não aumentem o tamanho total do input */
}

.form-modulo .form-control,
.form-funcao .form-control {
    width: 50%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.form-transacao .form-control {
    width: 50%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
    margin-left: 0.9%;
}

.form-transacao .dropdown-btn {
    width: 64%;
    margin-bottom: -2px;
    margin-left: 0%;
    padding: 8px;
    box-sizing: border-box;
}

/* Estilo para as labels*/
.form-transacao .form-label {
    margin-bottom: 5px;
    /* Define a margem inferior para separar as labels dos inputs */
    margin-left: 1.4%;
}

.form-label {
    margin-bottom: 5px;
}

/* Estilo para os botões */
.d-flex button {
    margin-right: 10px;
    /* Espaçamento entre os botões */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button.btn-secondary {
    background-color: #2F373F;
    color: #ffffff;
}

button.btn-secondary:hover {
    background-color: #383e46;
}

button.btn-success {
    background-color: #008D53;
    color: #ffffff;
}

button.btn-success:hover {
    background-color: #119c62;
}

#titulo {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 5px;
}

@media (min-width: 1024px) {
    .main-content {
        padding: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-content {
        padding: 40px;
    }

    .form-select,
    .form-control {
        width: 80%;
    }

    .form-modulo .form-control {
        width: 60%;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }

    button.btn-secondary {
        background-color: #2F373F;
        color: #ffffff;
    }
}

@media (max-width: 767px) {
    .main-content {
        padding: 30px;
    }

    #titulo {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .form-select,
    .form-control {
        width: 90%;
    }

    .form-modulo .form-control {
        width: 90%;
    }

    button {
        padding: 10px 15px;
        font-size: 14px;
    }
}