<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Transação</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../css/header.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/menu.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/styles-forms.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../css/dropdown.css" media="screen">
</head>

<body>
    <div class="container-fluid">
        <div class="header" id="header">
            <div class="logo-header">
                <img src="../../imagens/logoLoja.png" alt="Logo da Loja">
            </div>
        </div>
        <header>
            <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link mt-2" href="../html/gestaoUsuarios.html"> <!-- mt é pra margin-top -->
                                Gestão de Usuários
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/gestaoPerfis.html">
                                Gestão de Perfis
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/gestaoModulos.html">
                                Gestão de Módulos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/gestaoTransaçoes.html">
                                Gestão de Transações
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/gestaoFuncoes.html">
                                Gestão de Funções
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/minhaConta">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle"
                                id="dropdownUser1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="../../imagens/foto-perfil.png" class="rounded-circle" height="40"
                                    alt="Avatar" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                                <li><a class="dropdown-item" href="3dadosCadastrais.html">Minha Conta</a></li>
                                <li><a class="dropdown-item" href="#">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
    </div>
    </nav>

    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container-fluid">
            <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init
                data-mdb-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i> <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    </header>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="main-content">
            <h2 id="titulo">Editar Transação</h2>
            <br>
            <form id="form-container">
                <div class="mb-3 campo">
                    <div class="dropdown" id="dropdownModules">
                        <label class="form-label" for="associar-modulos">Associar a Módulo(s):</label>
                        <button class="dropdown-btn">Selecione as opções</button>
                        <div class="dropdown-content">
                            <input type="text" class="dropdown-search" placeholder="Pesquisar módulos...">
                        </div>
                    </div>
                </div>
                <div class="mb-3 campo-nome-transacao">
                    <label for="nome-transacao" class="form-label">Nome da Transação:</label>
                    <input type="text" class="form-control" id="nome-transacao" name="nome-transacao" required>
                </div>
                <div class="mb-3 campo">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <textarea class="form-control" rows="6" id="descricao" name="descricao"
                        placeholder="Opcional"></textarea>
                </div>
                <button type="button" id="btn-cancelar" class="btn btn-secondary">Cancelar</button>
                <button type="submit" id="btn-salvar" class="btn btn-success">Salvar</button>
            </form>
        </div>
    </main>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="../../js/menuScript.js"></script>
    <script src="../../js/editarTransacao.js"></script>
</body>

</html>