<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="../../css/styles.css" media="screen">

    <title>Recuperação de Senha</title>
</head>

<body>
    <div class="redefinir-senha-container">
        <img src="../../imagens/logoLoja.png">

        <div>
            <h2 id="titulo">Recuperação de senha</h2>
            <p id="subtitulo">Informe o e-mail cadastrado na sua conta e lhe enviaremos um link com as instruções.</p>
        </div>

        <form id="redefinir-senha-container">
            <div class="campo">
                <label for="email"></label>
                <input type="text" name="email" id="email" placeholder="Email" required>
            </div>
            <button class="botao" type="submit" onsubmit="">Continuar</button>
        </form>
        <br>
    </div>
</body>

</html>